## LSTM GOLD PREDICT

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/M1_Y1.csv")
df.head()

,time,Open,High,Low,Close,TickVolume,Spread,real_volume
0,2025-07-03 18:02:00+00:00,3328.741,3329.104,3328.741,3329.049,46,160,0
1,2025-07-03 18:03:00+00:00,3329.049,3329.049,3328.882,3329.027,23,160,0
2,2025-07-03 18:04:00+00:00,3329.026,3329.026,3328.598,3328.737,57,160,0
3,2025-07-03 18:05:00+00:00,3328.740,3329.134,3328.647,3329.016,52,160,0
4,2025-07-03 18:06:00+00:00,3329.015,3329.129,3328.962,3328.962,26,160,0

# LSTM model